# Android Studio default ignore rules
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

# Ignore all target files
*.pdf

# 不追蹤所有的 PNG 圖示，我們在建構專案前會自己把 SVG 轉成 PNG
*.png

